.row {
    text-align: center;
    font-family: Montserrat;
    color: black;
   
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
}

.col, [class*="col-"] {
	 padding-right: 0px;
    padding-left: 0px;
}

.row h1 {
    font-size: 20px;
}
